.category-list {
    float: left;
    padding: 0px 10px;
    margin-right: 10px;
    height: 600px;
    overflow-y: scroll;
    .category-title {
        padding: 3px;
        font-weight: bold;
        background-color: #e6e6ff;
    }
    .item {
        width: 200px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 2px 4px;
        border: 1px solid #96aacc;
        &:hover {
            background-color: #d2def2;
            cursor: pointer;
        }
        &.isSelect {
            background-color: #d2def2;
        }
    }
}

.react-tooltip-lite {
    background: #333;
    color: white;
}

@media screen and (max-width: 800px) {
    .category-list {
        width: 100%;
        .item {
            width: 100%;
        }
    }
}